*{
    font-family: 'Josefin Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

#container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainscreen{
    height: 600px;
    width: 350px;
    background-color: black;
    opacity: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#searchbar{
    width:275px;
    height:25px;
    background-color: transparent;
    border-width: 0 0 2px 0;
    padding:0px;
    border-color: rgb(207, 207, 0);
    border-radius: 10px;
    color: white;
    padding-left: 10px;
}
p{
    padding:0px;
    margin:0px;
    color: white;
}

.displaylocation{
    margin-top: 25px;
    font-size: 30px;
    margin-top: 50px;
}

.currenttime{
  margin-top: 10px;
  font-size:15px;
  margin-top: 25px;
}

.temperature{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-top: 125px;
    margin-bottom: 75px;
}

.clear{
    font-style: italic;
    font-size: 15px;
    font-weight: 600;
    margin-top: 50px;
}

.maxmin{
    margin-top: 50px;
}